/* CSS Document */

#question-mini-list{
	overflow: auto;
	margin-top: 10px;
	margin-bottom: 30px;
	
}
.question{
	border-bottom: 1px solid #eaeaea;
	overflow: hidden;
	padding: 11 0;
	width:900px;
	float: left;
}
.zang{
	float: left;
	margin:0 3 0 0;
	padding:5px;
	width:38px;
	height:38px;
	color: gray;
}
.count{
	height:25px;
	font-size: 160%;
	font-weight:normal;
}
.summary{
	width:800px;
	float: left;
}
.summary h3{
	font-size: 130%;
	font-weight:bold;
	margin-bottom: 5px;
	line-height: 1.3
}
.tags{
	line-height: 18px;
	float: left;
}
.post-tag{
	background-color: #E0EAF1;
	border-bottom: 1px solid #b3cee1;
	border-right: 1px solid #b3cee1;
	padding:3 4 3 4;
	margin:2 2 2 0;
	text-decoration: none;
	font-size: 90%;
	line-height: 1.4;
	white-space: nowrap;
	display: inline-block;
}

.started{
	float: right;
	
}